<% content_for :javascript do %>
	<script type="text/javascript">
		ShopifyApp.ready(function(){
			ShopifyApp.Bar.initialize({
				title: "Batch Details",
				icon: "<%= asset_path('favicon.ico') %>"
			});
		});
	</script>
<% end %>

<% amount_sold = [] %>

<h2 class='product-title'>Batch # <%= @batch.id %> - <%= link_to @product.title, "https://#{@shop_session.url}/admin/products/#{@product.id}", target: "blank" %></h2>
<%= link_to 'Edit Batch', edit_batch_path(batch: @batch) %>

<div class='active-batch'>
  <strong><p class='p-heading'>Product id:</p></strong>
  <p><%= @batch.product_id %></p>

  <hr class="dotted2">

  <strong><p class='p-heading'>Start date:</p></strong>
  <p><%= @batch.start_date %></p>

  <hr class="dotted2">

  <strong><p class='p-heading'>End date:</p></strong>
  <p><%= @batch.end_date %></p>

  <hr class="dotted2">

  <strong><p class='p-heading'>Minimum quantity:</p></strong>
  <p><%= @batch.min_quantity %></p>

  <hr class="dotted2">

  <% @orders.each do |order| %>
    <% order.line_items.each do |item| %>
      <% if item.attributes['product_id'] == @product.id && order.created_at.to_date > @batch.start_date && order.created_at.to_date < @batch.end_date %>
        <% amount_sold << item %>
      <% end %>
    <% end %>
  <% end %>

  <strong><p class='p-heading'>Amount sold:</p></strong>
  <p><%= amount_sold.count %></p>

  <hr class="dotted2">

  <strong><p class='p-heading'>Active:</p></strong>
  <p><%= @batch.active %></p>

  <hr class="dotted2">

  <strong><p class='p-heading'>Orders in this batch:</p></strong>

  <ul>
    <% @orders.each do |order| %>
      <% order.line_items.each do |item| %>
        <% if item.attributes['product_id'] == @product.id && order.created_at.to_date > @batch.start_date && order.created_at.to_date < @batch.end_date %>
          <li>
            <%= link_to order.name, "https://#{@shop_session.url}/admin/orders/#{order.id}", target: "blank" %> - <%= order.created_at.to_date %>
          </li>
        <% end %>
      <% end %>
    <% end %>
  </ul>

</div>
