<% content_for :javascript do %>
	<script type="text/javascript">
		ShopifyApp.ready(function(){
			ShopifyApp.Bar.initialize({
				title: "Batch Details",
				icon: "<%= asset_path('favicon.ico') %>"
			});
		});
	</script>
<% end %>

<div class='main-page'>
	<div class='full-column'>
		<div class='force-width'>
			<span>----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</span>
		</div>

		<div class='home-show'>

			<h2>Batch # <%= @batch.id %><h2>
			<h1 class='batch-heading'><%= @product.title %></h1>

			<%= link_to("https://#{@shop_session.url}/admin/products/#{@product.id}", target: "blank") do %>
				<div class='product-link-box-batch'>
					<div class='view-box'>
						<p>View Product</p>
					</div>
					<div class='view-box'>
						<svg width="20px" height="20px">
							<path d="M17.928 9.628C17.836 9.398 15.61 4 9.998 4S2.163 9.4 2.07 9.628c-.094.24-.094.505 0 .744C2.162 10.602 4.387 16 10 16s7.836-5.4 7.928-5.628c.094-.24.094-.505 0-.744zM9.998 14a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm0-6c-1.103 0-2 .896-2 2s.897 2 2 2a2 2 0 1 0 0-4z"></path>
						</svg>
					</div>
				</div>
			<% end %>

			<hr>

			<h2>Edit the details of this batch:</h2>

			<%= link_to 'Edit Batch', edit_batch_path %>

			<br>
			<hr>

			<h2>View the details of this batch:</h2>

			<div class='batch-details'>
				<ul>
					<li><strong><p>Product id:</p></strong><p><%= @batch.product_id %></p></li>
					<li><strong><p>Start date:</p></strong><p><%= @batch.start_date %></p></li>
					<li><strong><p>End date:</p></strong><p><%= @batch.end_date %></p></li>
					<li><strong><p>Minimum quantity:</p></strong><p><%= @batch.min_quantity %></p></li>
					<li><strong><p>Amount sold:</p></strong>
						<p>
							<% if @batch.num_sold == nil %>
								<%= p 'None' %>
							<% else %>
								<%= @batch.num_sold %>
							<% end %>
						</p>
					</li>
					<li><strong><p>Batch active:</p></strong><p><%= @batch.active %></p></li>
				</ul>
			</div>

			<hr>

			<h2>Orders in this batch:</h2>

			<ul>
				<% order_count = [] %>
				<% @orders.each do |order| %>
					<% order.line_items.each do |item| %>
						<% if item.attributes['product_id'] == @product.id && order.created_at.to_date >= @batch.start_date && order.created_at.to_date <= @batch.end_date %>
							<li>
								<%= link_to order.name, "https://#{@shop_session.url}/admin/orders/#{order.id}", target: "blank" %> - <%= order.customer.first_name %> <%= order.customer.last_name %> - <%= order.created_at.to_date %>
							</li>
							<% order_count << item %>
						<% end %>
					<% end %>
				<% end %>
				<% if order_count.count == 0 %>
					<%= p 'None' %>
				<% end %>
			</ul>

			<hr>
			<%= link_to 'Contact Customers', order_mailer_path %>
		</div>

	</div>
</div>
