<% content_for :javascript do %>
	<script type="text/javascript">
		ShopifyApp.ready(function(){
			ShopifyApp.Bar.initialize({
				title: "Home",
				icon: "<%= asset_path('favicon.ico') %>"
			});
		});
	</script>
<% end %>

  <%= form_tag("/search", method: "get") do %>
  		<%= label_tag(:q, "Search Products:") %>
      <div class='search-bar'>
    		<%= text_field_tag(:q) %>
    		<%= submit_tag("Search") %>
      </div>
	<% end %>

  <hr class='dotted'>

  <ul>
    <% @products.each do |product| %>
      <div class="product-box">
        <li>
          <%= image_tag(product.attributes["images"][0].src, height: 50) %>
          <div class="product-text-box">
            <%= link_to product.title, "https://#{@shop_session.url}/admin/products/#{product.id}", target: "blank" %><br>
            <p class='batch-link'><%= link_to "Create / Edit / View Batches", home_path(id: product.id) %></p>
          </div>
        </li>
        <ul>
          <!-- <% @orders.each do |order| %>
            <% order.line_items.each do |item| %>
              <% if item.attributes['product_id'] == product.id %>
                <div class="order-list-item">
                  <li>
                    <%= link_to order.name, "https://#{@shop_session.url}/admin/orders/#{order.id}", target: "blank" %>
                  </li>
                </div>
              <% end %>
            <% end %>
          <% end %>
        </ul> -->
      </div>
    <% end %>
  </ul>
