<% content_for :javascript do %>
  <script type="text/javascript">
    ShopifyApp.ready(function(){
      ShopifyApp.Bar.initialize({
        title: "Home",
        icon: "<%= asset_path('favicon.ico') %>"
      });
    });
  </script>
<% end %>

<h2>Products</h2>

<ul>
  <%= @products.each do |product| %>
    <%= image_tag(product.featured_image) %>
    <li><%= link_to product.title, "https://#{@shop_session.url}/admin/products/#{product.id}", target: "blank" %></li>
      <% @orders.each do |order| %>
        <% order.line_items.each do |item| %>
          <% if item.attributes['product_id'] == product.id %>
            <div class="order-list-item">
              <%= link_to order.name, "https://#{@shop_session.url}/admin/orders/#{order.id}", target: "blank" %><br>
            </div>
          <% end %>
        <% end %>
      <% end %>
    <hr>
  <% end %>
</ul>

<!-- <ul>
  <% @orders.each do |order| %>
    <li><%= link_to order.name, "https://#{@shop_session.url}/admin/orders/#{order.id}", target: "_top" %></li>
    <% order.line_items.each do |item| %>
    <li><%= link_to item.attributes['title'], "https://#{@shop_session.url}/admin/products/#{item.attributes['product_id']}", target: "blank"  %></li>
    <% end %>
    <hr>
  <% end %>
</ul> -->
