<h1>THIS IS THE PRODUCT ID: <%= @product.title %></h1>

<div class="batch-form">
  <%= render 'form', {batch: @batch} %>
</div>

<ol>
  <%@batches.each do |batch|%>
    <li>
        <%= @product.title %> |PRODUCT ID: <%= batch.product_id%> |START DATE: <%= batch.start_date%> | END DATE: <%= batch.end_date%> | NUMBER SOLD<%= batch.num_sold%> | ACTIVE: <%= batch.active %>
    </li>
    <% end %>
</ol>
